* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.container {
    display: flex;
    background-color: #F1F1F1;
}

.nav-title {
    text-align: center;
    padding: 10px;
    color: black;
}

.only-h1 {
    font-size: 25px;
}

.navigation {
    width: 280px;
    height: 100vh;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
    border-right: 3px solid #acacac;
}

.main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 280px;
    text-align: justify;
}

.navigation nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    transition: background-color 0.3s;
    color: #acacac;
}

hr {
    border: 1px solid #acacac;
}

.navigation nav a:hover {
    background-color: #333333;
    color: #F1F1F1;
}

.navigation footer p {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table,
td,
th {
    border: 2px solid #acacac;
    padding: 10px;
}

thead {
    text-align: center;
}

.credits {
    color: #acacac;
}

footer nav a {
    color: #2980b9;
}

.header-title {
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.td-media {
    width: 100%;
}

.list {
    padding-left: 20px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #707070;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: #808080;
}

@media screen and (min-width: 426px) {
    .container {
        flex-direction: row;
    }

    .navigation {
        width: 250px;
    }

    .main {
        overflow-x: auto;
    }
}

@media screen and (max-width: 425px) {

    hr {
        border: 1px solid #acacac;
    }

    .navigation {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        height: 200px;
        background-color: #F1F1F1;
        box-sizing: border-box;
        overflow: scroll;
        border-bottom: 2px solid black;
    }

    .nav-title {
        text-align: center;
        padding: 10px;
        color: black;
    }

    .navigation nav a {
        display: block;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
        transition: background-color 0.3s;
        color: #acacac;
    }

    .navigation nav a:hover {
        color: #F1F1F1;
    }

    .nav-title {
        text-align: left;
        font-size: 20px;
    }

    .main {
        margin-top: 200px;
        padding: 15px;
        margin-left: 0px;
        flex: 1;
        overflow-x: auto;
        width: 1024px;
        max-width: none;
    }

    section {
        margin-left: 0px;
        flex: 1;
        width: 1024px;
        max-width: none;
    }

    footer {
        position: relative;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    .navigation nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
